@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat.ttf");
}

* {
    image-rendering: crisp-edges;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat";
    background-color: black;
}

text {
    color: white;
}

#progress {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 5px;
    width: 0%;
    transition: 500ms;
}

.gamesBg {
    position: relative;
    overflow: hidden;
}

.gamesBg::before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 400%;
    height: 400%;
    background: url("/games.webp");
    background-repeat: repeat;
    background-size: 1024px;
    transform: rotate(16deg) translate3d(0, 0, 0);
    will-change: transform;
    animation: slide 60s linear infinite;
    backface-visibility: hidden;
}

@keyframes slide {
    from {
        transform: rotate(16deg) translate3d(0, 0, 0);
    }
    to {
        transform: rotate(16deg) translate3d(1024px, 0, 0);
    }
}
